body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif
}

.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif
}

#mainLogo {
    height: auto;
    width: 60%;
}

.primary-color {
    background-color: #0C2156;
}

.secondary-color {
    background-color: #FFFFFF;
    color: #0C2156;
}

.primary {
    background-color: #0C2156 !important;
    color: #FFFFFF !important;
}

.hover-primary:hover {
    background-color: #0C2156 !important;
    color: #FFFFFF !important;
}

.text-color {
    color: #FFFFFF;
}

#footerLogo {
    height: auto;
    max-width: 50%;
}

/*This stuff shouldn't be here and belongs to advertisements.css but that file wasn't loading for some reason*/
#title {
    font-size: 64px!important;
}

#tommyJonesPic {
    height: auto;
    margin-top: 30px;
    width: 310px;
    padding-left: 50px;
}

@media screen and (max-device-width: 750px) {
    #title {
        font-size: 45px!important;
    }

    #tommyJonesPic {
        max-width: 100%;
    }

    iframe {
        width: 350px;
    }
}
